body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/e7/1c/5d/e71c5d0745b310039c748640755c7fca.gif");
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
  }
  
  h1 {
    color: #ffffff;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  #mensagem {
    margin-top: 300px;
    font-size: 30px;
    color: #000000;
    font-style: italic;
    background-color:aqua;
  }
  
/* Estilos para telas maiores que 600px */
/* Coloque aqui os estilos padrão para telas maiores */

@media (max-width: 600px) {
    /* Estilos para telas menores ou iguais a 600px */
    /* Por exemplo, ajustar o tamanho da fonte, o espaçamento, a disposição dos elementos, etc. */
  
    /* Exemplo de estilo para um layout de uma coluna em telas menores */
    body {
      display: block;
    }
  
    h1 {
      font-size: 24px;
    }
  
    input[type="text"] {
      width: 80%;
    }
  
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
  